<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(About, '/css/about.css')}">
    <title>About</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>

    <div class="about-wrapper d-flex justify-content-end">
        <div class="black-overlay"></div>
        <img class="hero-img" src="/assets/img/about.png">
        <div class="header">
            <h1>Who We Are</h1>
            <p>At Street Eatz, we're on a mission to bring foodies and food truck owners together in a delicious harmony. Whether you're a seasoned food truck enthusiast or a casual passerby, we've created the perfect platform to discover, review, and savor the diverse world of mobile culinary delights.</p>
        </div>
    </div>
    <div class="container">
        <h4>How it Works:</h4>
        <p>Joining our community is as easy as enjoying your favorite food truck dish. Simply sign up as a:</p>
        <ul>
            <li><p>Regular User: Explore, review, and share your culinary adventures.</p></li>
            <li><p>Truck Owner: Showcase your delectable offerings, connect with your audience, and watch your fanbase grow.</p></li>
        </ul>
    </div>
    <div class="container">
        <h4>Discover Trucks</h4>
        <p>Browse through a diverse array of food trucks in your area. From savory street tacos to mouthwatering desserts, we've got it all. Our intuitive search feature helps you find the perfect mobile eatery for every craving.</p>
    </div>
    <div class="container">
        <h4>Leave Reviews</h4>
        <p>Share your thoughts and experiences! Your reviews help fellow foodies make informed decisions and support food truck owners in delivering the best possible culinary delights. Be a part of the vibrant [Your Website Name] community by contributing your insights.</p>
    </div>
    <div class="container">
        <h4>Connect with Owners</h4>
        <p>Are you a food truck owner? Join Street Eatz to gain exposure, connect with your community, get valuable feedback on your services, and build lasting relationships with your customers.</p>
    </div>

    <div class="container">
        <h4>Get Directions:</h4>
        <p>Navigate easily to your chosen food truck with our integrated maps feature. No more wandering the streets—find your favorite flavors with a single click.</p>
    </div>
    <div class="container benefit-container">
        <h1 class="text-center benefits">The Benefits</h1>
        <div class="row">
            <div class="column">
                <p class="benefits">For Regular Users:</p>
                <ul>
                    <li><p><strong>Personalized Recommendations:</strong> Discover new food trucks tailored to your preferences.</p></li>
                    <li><p><strong>Community Engagement:</strong> Connect with fellow foodies, share tips, and make the most of your culinary adventures.</p></li>
                    <li><p><strong>Exclusive Offers:</strong> Receive special promotions and discounts from participating food trucks.</p></li>
                </ul>
            </div>
            <div class="column">
                <p class="benefits">For Truck Owners:</p>
                <ul>
                    <li><p><strong>Increased Visibility:</strong> Showcase your unique offerings to a broader audience.</p></li>
                    <li><p><strong>Customer Engagement:</strong> Interact with your customers, build loyalty, and turn first-timers into regulars.</p></li>
                    <li><p><strong>Analytics:</strong>Analytics: Gain insights into customer preferences and tailor your menu for maximum satisfaction.</p></li>
                </ul>
            </div>
        </div>
        <p><strong>Ready to embark on a flavorful journey? Sign up now and be a part of the Street Eatz community!</strong></p>
        <a class="nav-link btn text-center" th:href="@{/sign-up}">Sign Up Now!</a>
    </div>
    <footer th:replace="partials/fragments :: footer"></footer>
</div>
<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>

</html>