<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Create, '/css/create.css')}">
	<title>Create</title>
</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/fragments :: navbar"></nav>
	<div class="ad-card">
		<form th:action="@{/reviews/create}" method="post" th:object="${review}">
			<div class="form-control">
				<label for="body">body</label>
				<textarea th:field="*{body}" name="body" id="body" cols="30" rows="10"></textarea>
				<label for="rating" >Rating</label>
				<input  type="range" min="0" max="10" name="rating" id="rating" th:field="*{rating}">
				<label for="user_id" >Rating</label>
				<input  type="text" name="user_id" id="user_id" th:field="*{user}" th:value="">
			</div>
			<button type="submit">Post Review</button>


		</form>
	</div>
	<footer th:replace="partials/fragments :: footer"></footer>
</div>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>