<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Create, '/css/create.css')}">
	<title>Create</title>
</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/fragments :: navbar"></nav>
	<div class="ad-card">
		<form th:action="@{/reviews/create/{id}(id=${truck.getId()})}" method="post" th:object="${review}">
			<div class="form-control">
				<label for="body">body</label>
				<input th:field="*{body}" name="body" id="body" cols="30" rows="10"></input>
				<label for="rating" >Rating </sp></label>
				<input  type="range" min="0" max="10" name="rating" id="rating" th:field="*{rating}">
				<label for="user_id" >Rating</label>
				<input th:hidden="hidden" type="text" name="user_id" id="user_id" th:field="*{user}" >
				<input th:hidden="hidden" type="text" name="truck_id" id="truck_id" th:field="*{truck.id}" >

				<a type="submit btn">Post Review</a>
			</div>

		</form>
	</div>
	<div class="container">
		<footer th:replace="partials/fragments :: footer"></footer>
	</div></div>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>