<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Index, '/css/index.css')}">

    <title>Index</title>
</head>

<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>
    <!--//Start of HERO-->

    <div class="video-wrapper d-flex justify-content-end">
        <div class="black-overlay"></div>

        <video autoplay loop muted playsinline th:src="@{/assets/img/food_truck_video.mp4}"
               alt="Truck Park birdseye view video clip">
        </video>
        <div class="header">
            <h1 class="text-center">Street Eatz</h1>
            <p>Discover, savor, and review the best flavors on wheels. Your culinary journey starts here.</p>
            <div class="d-flex p-5">
                <a th:href="@{/showAll}" class="btn">See All Trucks</a>
                <a th:href="@{/login}" class="btn">Leave a Review</a>
            </div>

            <a href="#main" class="scroll-down"></a>

        </div>
    </div>

    <div class="container-fluid d-flex flex-column gap-5 overflow-hidden" id="main">

        <div class="row">
            <div class="col-12 col-md-8 position-relative">
                <div id="map"></div>
                <div class="map-overlay-container">
                    <div class="map-overlay">
                        <h2 id="location-title"></h2>
                        <p id="location-description"></p>
                    </div>
                </div>
            </div>
            <!--            Truck carousel-->
            <div class="column">
                <div class="carousel">
                    <div th:each="truck : ${trucks}" class="card">
                        <!-- Your card content goes here -->
                        <h5 class="card-title"><span class="ad-title" th:text="${truck.getTruckName()}"></span></h5>
                        <p class="card-text"><a th:href="${truck.getWebsite()}"><span
                                th:text="${truck.getWebsite()}"/></a></p>
                        <p class="card-text"><span th:text="${truck.getOwner().getId()}"/></p>
                        <a th:href="@{/trucks/{id}(id=${truck.id})}" class="btn btn-primary">View
                            Details</a>
                    </div>
                </div>
            </div>


            <div class="container">
                <footer th:replace="partials/fragments :: footer"></footer>
            </div>
        </div>
    </div>
</div>
<script>
    function autoscroll() {
        var carousel = document.querySelector('.carousel');
        var cardWidth = carousel.firstElementChild.clientWidth;
        var currentScrollPosition = carousel.scrollLeft;

        var nextScrollPosition = currentScrollPosition + cardWidth;
        carousel.scrollTo({
            left: nextScrollPosition,
            behavior: 'smooth'
        });

        setTimeout(autoscroll, 3000);
    }

    autoscroll();
</script>
<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>
