<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Index, '/css/index.css')}">

    <title>Index</title>
</head>

<body>
<div class="page-wrapper">
<!--    Navbar-->
    <nav th:replace="partials/fragments :: navbar"></nav>
    <!--//Start of HERO-->
    <div class="video-wrapper d-flex justify-content-end">
        <div class="black-overlay"></div>

        <video autoplay loop muted playsinline th:src="@{/assets/img/food_truck_video.mp4}"
               alt="Truck Park birdseye view video clip">
        </video>
        <div class="header">
            <h1 class="text-center">Street Eatz</h1>
            <p>Discover, savor, and review the best flavors on wheels. Your culinary journey starts here.</p>
            <div class="d-flex p-5">
                <a th:href="@{/showAll}" class="btn">See All Trucks</a>
                <a th:href="@{/login}" class="btn">Leave a Review</a>
            </div>

            <a href="#main" class="scroll-down"></a>

        </div>
    </div>
<!--Welcome container-->
    <div class="container welcomeContainer" id="main">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <img th:src="@{/assets/img/main_icon.png}" style="width: 250px; height: 250px">
            </div>
            <div class="welcome">
                <h2>Feeling Hungry? We got you covered!</h2>
                <p class="var">Discover Food Trucks - Leave Reviews</p>
                <div class="text-center">
                    <a th:href="@{/about}" class="btn">Learn More</a>
                </div>
            </div>
            <div class="col-auto">
                <img th:src="@{/assets/img/main_icon.png}" style="width: 250px; height: 250px">
            </div>
        </div>
    </div>
    <!--map and truck cards-->
    <div class="container-fluid d-flex flex-column gap-5 overflow-hidden">
        <div class="row">
            <div class="col-12 col-md-6 position-relative">
                <h3 class="text-center">Trucks Near You</h3>
                <div id="map"></div>
                <div class="map-overlay-container">
                    <div class="map-overlay">
                        <h3 id="location-title"></h3>
                        <p id="location-description"></p>
                    </div>
                </div>
            </div>
            <!--            Truck carousel-->
            <div class="col-12 col-md-6">
                <h3 class="text-center">Scroll Down to See More</h3>
                <div class="carousel-container">
                    <div th:each="truck : ${trucks}" class="carousel-card">
                        <div class="card mb-4 d-flex flex-row"> <!-- Added flex-row class here -->
                            <!-- Image on the left of the card -->
                            <img alt="Profile picture" class="card-img-left custom-image" th:src="*{truck.getAvatar()}">
                            <div class="card-body">
                                <!-- Move the card title and text inside the card-body div -->
                                <h4 class="card-title"><span class="ad-title" th:text="${truck.getTruckName()}"></span></h4>
                                <p class="card-text"><span th:text="${truck.getOwner().getBio()}"></span></p>
                                <p class="card-text" style="font-size: 16px"><a th:href="${truck.getWebsite()}"><span th:text="${truck.getWebsite()}"></span></a></p>
                                <a th:href="@{/trucks/{id}(id=${truck.id})}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="partials/fragments :: footer"></footer>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>
