<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<meta charset="UTF-8">
	<title>Individual Post</title>
	<link th:replace="partials/header :: bootstrap">

<!--	<link th:replace="partials_css/css_index :: show_stylesheet" />-->


</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/navbar :: navbar"></nav>
	<h1>Viewing Individual Review</h1>
	<div class="ad-card">

		<p> <span th:text="${review.getUser().getUsername()}"></span></p>

		<p>Body: <span th:text="${review.body}"></span></p>
		<p>Rating: <span th:text="${review.rating}"></span></p>
		<div class="form-control">
			<form th:action="@{/reviews/delete}" method="post">
				<input name="id" th:hidden="true" th:value="${review.id}" >
				<button type="submit">Delete</button>
			</form>
			<form th:action="@{/reviews/update/{id}(id=${review.getId()})}">
				<button>Update</button>
			</form>

		</div>
	</div>
	<div sec:authorize="isAuthenticated()">
		This content is only shown to authenticated users.

		User ID: <span th:text="${#authentication.principal.id}"/>
		Username: <span th:text="${#authentication.principal.username}"/>
		Email: <span th:text="${#authentication.principal.email}"/>
	</div>
</div>

<script th:replace="partials/bootstrap_script :: bootstrapScript"></script>
<!--<script th:replace="partials/index_js :: javascript"></script>-->

</body>

</html>