<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
	<meta charset="UTF-8">
	<title>Individual Post</title>
	<link th:replace="partials/header :: bootstrap">

</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/navbar :: navbar"></nav>
	<h1>Viewing Individual Id</h1>
	<div class="ad-card">
		<p> <span th:text="${post.getAuthor().email}"></span></p>

		<p>title: <span th:text="${post.title}"></span></p>
		<p>body: <span th:text="${post.body}"></span></p>
		<div class="form-control">
			<form th:action="@{/posts/delete}" method="post" th:object="${post}">
				<input name="id" th:hidden="true" th:value="${post.getId()}" th:field="*{id}">
				<button type="submit">Delete</button>
			</form>
			<form th:action="@{/posts/update/{id}(id=${post.getId()})}">
				<button>Update</button>
			</form>

		</div>
	</div>
	<div sec:authorize="isAuthenticated()">
		This content is only shown to authenticated users.

		User ID: <span th:text="${#authentication.principal.id}"/>
		Username: <span th:text="${#authentication.principal.username}"/>
		Email: <span th:text="${#authentication.principal.email}"/>
	</div>
</div>

<script th:replace="partials/bootstrap_script :: bootstrapScript"></script>
<script th:replace="partials/index_js :: javascript"></script>

</body>

</html>