<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Update, '/css/update.css')}">
	<title>Show</title>
</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/fragments :: navbar"></nav>
	<div class="container">
		<form class="signup-form" th:action="@{/reviews/update}" method="post" th:object="${review}">
			<h1>Update Review</h1>

				<label for="rating">Rating:</label>
				<input  type="text" name="rating" id="rating" th:value="${review.rating}" th:field="*{rating}">

				<label for="body">Body:</label>
				<textarea name="body" id="body"  th:text="${review.body}" th:field="*{body}"></textarea>

			<input name="id" th:hidden="true" th:value="${review.id}" th:field="*{id}">
			<input name="author" th:hidden="true" th:value="${review.user}" th:field="*{user}">
			<input type="submit" class="btn" value="Update">
		</form>
	</div>
</div>
<footer th:replace="partials/fragments :: footer"></footer>

<th:block th:replace="partials/fragments :: scripts"></th:block>


</body>

</html>