<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Individual Post</title>
	<link th:replace="partials/header :: bootstrap">

</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/navbar :: navbar"></nav>
	<div class="ad-card">
		<form th:action="@{/reviews/update}" method="post" th:object="${review}">
			<div class="form-control">
				<label for="rating">Rating</label>
				<input  type="text" name="rating" id="rating" th:value="${review.rating}" th:field="*{rating}">

				<label for="body">Body</label>
				<textarea name="body" id="body"  th:text="${review.body}" th:field="*{body}"></textarea>
			</div>
			<input name="id" th:hidden="true" th:value="${review.id}" th:field="*{id}">
			<input name="author" th:hidden="true" th:value="${review.user}" th:field="*{user}">
			<button type="submit">Update</button>


		</form>
	</div>
</div>

<script th:replace="partials/bootstrap_script :: bootstrapScript"></script>
<script th:replace="partials/index_js :: javascript"></script>

</body>

</html>