<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Individual Post</title>
	<link th:replace="partials/header :: bootstrap">

</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/navbar :: navbar"></nav>
	<div class="ad-card">
		<form th:action="@{/posts/update}" method="post" th:object="${post}">
			<div class="form-control">
				<label for="title">title</label>
				<input  type="text" name="title" id="title" th:value="${post.getTitle()}" th:field="*{title}">

				<label for="body">body</label>
				<textarea name="body" id="body"  th:text="${post.getBody()}" th:field="*{body}"></textarea>
			</div>
			<input name="id" th:hidden="true" th:value="${post.getId()}" th:field="*{id}">
			<input name="author" th:hidden="true" th:value="${post.getAuthor()}" th:field="*{author}">
			<button type="submit">Update</button>


		</form>
	</div>
</div>

<script th:replace="partials/bootstrap_script :: bootstrapScript"></script>
<script th:replace="partials/index_js :: javascript"></script>

</body>

</html>