<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(ShowAll, '/css/showAll.css')}">
    <title>Show All</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>

    <div class="row gap-2">
        <div  th:each="truck : ${trucks}">

            <div class="ad-card" style="border: 1px solid black">


                <img alt="Profile picture" class="img-thumbnail" th:src="*{truck.getAvatar()}">
                <p> <span class="ad-title" th:text="${truck.getTruckName()}" ></span></p>
                <p> <span class="ad-body" th:text="${truck.getWebsite()}" ></span></p>
                <p> <span class="ad-body" th:text="${}" ></span></p>

                <a th:href="@{/trucks/{id}(id=${truck.id})}">View Details</a>
            </div>
        </div>
    </div>
    <div class="container">
        <footer th:replace="partials/fragments :: footer"></footer>
    </div>
</div>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>