<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(ShowAll, '/css/showAll.css')}">
    <title>Show All</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>

    <div class="row gap-2">
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">CLICK ME to go to SEE ALL TRUCKS</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a class="btn btn-primary" th:href="@{/about}" >See All Trucks</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">TAKE ME TO THE INDIVIDUAL TRUCK PAGE</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a class="btn btn-primary" th:href="@{/show}" >See 1 Trucks</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="row gap-2">
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="row gap-2">
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="card col m-4" >
            <img src="..." class="card-img-left" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maipe Foodies</h5>
                <p class="card-text">Join us at the Table! Its MAIPE good! Family Owned, Family recipes, fusion island and asian flavors</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <footer th:replace="partials/fragments :: footer"></footer>
    </div>
</div>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>