<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(ShowAll, '/css/showAll.css')}">
    <title>Show All</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>

    <div class="container my-5">
        <div class="row">
            <div th:each="truck : ${trucks}" class="col-lg-6 mb-4 single-card">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <img alt="Profile picture" class="card-img custom-image" th:src="*{truck.getAvatar()}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title"><span class="ad-title" th:text="${truck.getTruckName()}" ></span></h3>
                                <p class="card-text"><span th:text="${truck.getOwner().getBio()}"></span></p>
                                <p class="card-text"><a th:href="${truck.getWebsite()}">Click here for Truck's Website!!!!</a></p>
                                <a th:href="@{/trucks/{id}(id=${truck.id})}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h2>Don't See Your Food Truck? Sign Up today!</h2>
                <a class="nav-link btn text-center" th:href="@{/sign-up}">Sign Up</a>
            </div>
        </div>
    </div>

</div>
<footer th:replace="partials/fragments :: footer"></footer>
<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>