<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(DeleteConfirmation, '/css/delete.css')}">
    <title>Delete Profile</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>
    <div class="container justify-content-center">
        <form th:action="@{/deleteUser/{id}(id=${user.id})}" method="post" th:object="${user}" class="login-form">
            <h1>Your profile was successfully deleted</h1>
            <input type="hidden" th:field="*{id}">

            <p><a class="nav-link active" aria-current="page" th:href="@{/index}">Return to Home Page</a></p>
        </form>
    </div>



</div>
<footer th:replace="partials/fragments :: footer"></footer>

<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>