<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Login, '/css/login.css')}">
	<title>Login</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="page-wrapper">

	<div class="container">
		<div th:if="${param.error}">
			Invalid Username and Password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>

		<form class="login-form" th:action="@{/login}" method="post">
			<h1>Log In </h1>
			<label for="username">Username</label>
			<input id="username" name="username" type="text" />
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			<input class="btn-login" type="submit" value="Log In" />
		</form>
	</div>
</div>
<footer th:replace="partials/fragments :: footer"></footer>
<th:block th:replace="partials/fragments :: scripts"></th:block>

</body>
</html>