<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Login, '/css/login.css')}">
	<title>Login</title>
</head>
<body>
<div class="page-wrapper">
	<nav th:replace="partials/fragments :: navbar"></nav>
	<h1>Log In</h1>
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>

	<form th:action="@{/login}" method="post">
		<label for="username">Username</label>
		<input id="username" name="username" type="text" />
		<label for="password">Password</label>
		<input id="password" name="password" type="password" />
		<input type="submit" value="Log In" />
	</form>
	<div class="container fixed-bottom">
		<footer th:replace="partials/fragments :: footer"></footer>
	</div>
</div>

<th:block th:replace="partials/fragments :: scripts"></th:block>

</body>
</html>