<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Profile</title>
    <link th:replace="partials/header :: bootstrap">
    <link th:replace="partials/header :: show_stylesheet" />
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>
<script th:replace="partials/index_js :: javascript"></script>
</body>
</html>