<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(OwnerProfile, '/css/ownerProfile.css')}">
    <title>Owner Profile</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>
    <main class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 d-flex justify-content-center text-center">
                        <div th:if="${truck != null}">
                            <div th:if="${user.getAvatar() != null}">
                                <img alt="Profile picture" class="img-thumbnail" th:src="*{user.getAvatar()}">
                            </div>
                            <div th:if="${user.getAvatar() == null}">
                                <img alt="Profile picture" class="img-thumbnail" th:src="@{/assets/img/truck_icon.png}">
                            </div>
                        </div>
                        <div th:if="${truck == null}">
                            <img alt="Profile picture" class="img-thumbnail" th:src="@{/assets/img/truck_icon.png}">
                        </div>


                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${user.getId() == #authentication.principal.id && user.isTruckOwner() }">

                                <button type="button" id="upload" name="upload">Upload an image</button>
                                <form th:action="@{/imgUpload}" th:method="post" id="imgForm">
                                    <input type="hidden" name="img" id="img">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="user-info">

                            <div th:if="${user.getTruck() != null}">
                                <h1><span th:text="${truck.getTruckName()}"/></h1>
                                <p>
                                    <a target="_blank" th:href="${truck.getWebsite()}">Website <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                                    </svg></a>
                                </p>
                                <p>Location: <span th:text="${truck.getLocation()}"/></p>
                                <p>Bio: <span th:text="${user.getBio()}"/></p>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <div th:if="${user.getId() == #authentication.principal.id && user.isTruckOwner() }">

                                    <p>Username: <span th:text="${user.getUsername()}"/></p>
                                    <p>Email: <span th:text="${user.getEmail()}"/></p>

                                    <div th:if="${truck == null}">
                                        <a th:href="@{/truckInfo}">Add Truck Info</a>
                                    </div>
                                    <div th:if="${truck != null}">
                                        <div th:if="${truck.getWebsite() != null}">
                                            <a th:href="@{/editTruckInfo}">Edit Truck Info</a>
                                        </div>
                                    </div>

                                    <a th:href="@{/updateOwner}">edit profile</a>
                                    <a th:href="@{/deleteUser}">delete profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#tab1" data-bs-toggle="list">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-bs-toggle="list">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-bs-toggle="list" id="refresh"
                   onclick="myFunction()">Directions</a>
            </li>
        </ul>
        <div class="tab-content">
            <!--            Reviews-->
            <div class="tab-pane active" id="tab1" role="tabpanel">
                <div class="row">
                    <div class="column">
                        <!--     average reviews goes here-->
                    </div>
                    <div class="column">
                        <div th:if="${user.getTruck() != null}">
                            <div>
                                <a th:href="@{/reviews/create/{id}(id=${truck.getId()})}">Leave a Review</a>
                            </div>
                        </div>
                        <!--                        list of all reviews of truck goes here-->
                        <div th:each="review : ${truckReviews}">
                            <div class="ad-card" style="border: 1px solid black">
                                <p><span class="ad-title" th:text="${user.username}"></span>'s Truck Review: <span
                                        class="ad-title" th:text="${review.body}"></span></p>
                                <p>Rating: <span class="ad-body" th:text="${review.rating}"></span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--            photos-->
            <div class="tab-pane" id="tab2" role="tabpanel">
                <div class="gallery">
                    placeholder images to make sure it works. will input filestack logic later
                    <img th:src="@{/assets/img/main_icon.png}" class="gallery-img img">
                    <img th:src="@{/assets/img/main_icon.png}" class="gallery-img img">
                    <img th:src="@{/assets/img/main_icon.png}" class="gallery-img img">
                </div>
            </div>
            <!--            directions-->
            <div class="tab-pane" id="tab3" role="tabpanel">

                <div>
                    <!--                    map goes here-->
                    <div th:if="${user.getTruck() != null}">
                        <h3>Get Directions</h3>
                        <label for="truck_location">
                            <input th:hidden="hidden" name="truck_location" id="truck_location" type="text"
                                   th:value="${truck.getLocation}">
                        </label>

                        <a target="_blank" th:href="@{https://maps.google.co.uk/maps?(q=${truck.getLocation})}">Click
                            here for directions!!!!</a>
                    </div>


                    <link rel="stylesheet"
                          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
                          type="text/css">
                    <div id="map1">


                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<footer th:replace="partials/fragments :: footer"></footer>

<th:block th:replace="partials/fragments :: scripts"></th:block>

</body>
</html>