<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(SignUp, '/css/signup.css')}">
	<title>Sign up</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="page-wrapper">

	<div class="container">
		<form class="signup-form" th:action="@{/sign-up}" th:method="POST" th:object="${user}">
			<h1>Create an account</h1>
			<label for="accountType">Account Type:</label>
			<select id="accountType" th:field="*{truckOwner}">
				<option th:value="0">User</option>
				<option th:value="1">Owner</option>
			</select>

			<label for="username">Username</label>
			<input id="username" th:field="*{username}" />

			<label for="email">Email</label>
			<input id="email" th:field="*{email}" />

			<label for="password">Password</label>
			<input id="password" type="password" th:field="*{password}"/>

			<input class="btn" value="Sign me up!" type="submit" />

			<p><a class="nav-link active text-center" aria-current="page" th:href="@{/login}">Already A Member? Login!</a></p>

		</form>
	</div>
<!--	<div class="container fixed-bottom">-->
<!--		<footer th:replace="partials/fragments :: footer"></footer>-->
<!--	</div>-->
</div>

<footer th:replace="partials/fragments :: footer"></footer>
<th:block th:replace="partials/fragments :: scripts"></th:block>

</body>
</html>
