<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link th:replace="partials/header :: bootstrap">
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <!-- main -->
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Profile picture" class="img-thumbnail" th:src="@{/assets/img/user_icon.png}">
                    </div>
                    <div class="col-md-8">
                        <div class="user-info">
                            <div sec:authorize="isAuthenticated()">
                                <!--                                User ID: <span th:text="${#authentication.principal.id}"/>-->
                                <p>Username: <span th:text="${#authentication.principal.username}"/></p>
                                <p>Email: <span th:text="${#authentication.principal.email}"/></p>
                                <button type="submit">edit profile</button>
                                <button type="submit">delete profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#tab1" data-bs-toggle="list">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-bs-toggle="list">Photos</a>
            </li>
        </ul>
        <div class="tab-content">
            <!--            Reviews-->
            <div class="tab-pane active" id="tab1" role="tabpanel">
                <div>
                </div>
            </div>
            <!--            photos-->
            <div class="tab-pane" id="tab2" role="tabpanel">
                <div>
                </div>
            </div>
        </div>
        <footer th:replace="partials/footer :: footer"></footer>
    </section>
</div>
<script th:replace="partials/bootstrap_script :: bootstrapScript"></script>
<!--<script th:replace="partials/index_js :: javascript"></script>-->
</body>
</html>
