<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(UpdateOwner, '/css/userProfile.css')}">
    <title>Update Owner</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/fragments :: navbar"></nav>
    <!-- main -->
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div th:if="${user.getAvatar() != null}">
                            <img alt="Profile picture" class="img-thumbnail" th:src="*{user.getAvatar()}">
                        </div>
                        <div th:if="${user.getAvatar() == null}">
                            <img alt="Profile picture" class="img-thumbnail" th:src="@{/assets/img/user_icon.png}">
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <button type="button" id="upload" name="upload">Upload an image</button>
                            <form th:action="@{/imgUpload}" th:method="post" id="imgForm">
                                <input type="hidden" name="img" id="img" value="">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="user-info">
                            <div sec:authorize="isAuthenticated()">
                                <h1>Username: <span th:text="${#authentication.principal.username}"/></h1>
                                <p><span th:text="${#authentication.principal.bio}"></span></p>
                                <p>Email: <span th:text="${#authentication.principal.email}"/></p>
                                <a th:href="@{/updateUser}">edit profile</a>
                                <a th:href="@{/deleteUser}">delete profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#tab1" data-bs-toggle="list">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-bs-toggle="list">Photos</a>
            </li>
        </ul>
        <div class="tab-content">
            <!--            Reviews-->
            <div class="tab-pane active" id="tab1" role="tabpanel">
                <div>
                    <p>Review goes here </p>
                    <div th:each="review : ${reviews}">

                        <div class="ad-card" style="border: 1px solid black">

                            <p><span class="ad-body" th:text="${review.getTruck().getTruckName()}"></span></p>
                            <p><span class="ad-title" th:text="${review.body}"></span></p>
                            <p><span class="ad-body" th:text="${review.rating}"></span></p>


                            <form th:action="@{/reviews/update/{id}(id=${review.getId()})}">
                                <button class="update-profile">Update Info</button>
                            </form>

                            <form th:action="@{reviews/delete}" method="post">
                                <a th:href="@{/reviews/{id}(id=${review.id})}">View Details</a>
                                <input name="id" th:hidden="true" th:value="${review.id}">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--            photos-->
            <div class="tab-pane" id="tab2" role="tabpanel">
                <div class="gallery">
                    <!--                    <img th:src="" class="gallery-img">-->
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <footer th:replace="partials/fragments :: footer"></footer>
    </div>
</div>
<th:block th:replace="partials/fragments :: scripts"></th:block>

</body>
</html>
