@import url('https://fonts.googleapis.com/css2?family=Anton&family=Modak&display=swap');
:root{
    --colors-primary: #054A91;
    --colors-secondary: #FC7A1E;
    --colors-secondary-light: #F9C784;
    --colors-light:#E7E7E7;
    --colors-dark: #312F2F;
}
body {
    font-family: "Anton", sans-serif;
    background-color: var(--colors-secondary-light);
}
nav{
    background-color: var(--colors-light);
}
.nav-info{
    color: var(--colors-primary);
    transition: all .3s ease-in-out;
}
.nav-info:hover{
    color: var(--colors-secondary);
    font-family: Modak, serif;
    transform: scale(1.2);
}
.btn {
    background-color: #e7e7e7;
    color: var(--colors-primary);
    border-radius: 8px;
    border: 3px solid var(--colors-primary);
    margin-left: 25px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn:hover {
    font-weight: bold;
    background-color: var(--colors-primary);
    color: var(--colors-secondary-light);
    border: 5px solid var(--colors-secondary);
    transform: scale(1.2);
}
.nav-img{
    width: 75px;
    height: 75px;
    transition: all .3s ease-in-out;
}
.nav-img:hover{
    transform: scale(1.2);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #FC7A1E;
    color: white;
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
/*.button {*/
/*    border: none;*/
/*    outline: 0;*/
/*    display: inline-block;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    background-color: #054A91;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*}*/
/*.button:hover {*/
/*    background-color: #FC7A1E;*/
/*}*/
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}