body {
    background-color: black;
}

.container {
    justify-content: space-evenly;
}
#map {
    height: 1200px;
    width: 1200px;
    margin: 50px auto 0;
    border: 5px solid black;
    border-radius: 18px;
}
.map-overlay-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.black-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 2;
}

.video-wrapper{
    width: 100%;
    min-height: 100dvh;
    position:relative;
    overflow:hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
  object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:-1;
}

.card {
    height: 400px;
    width: 400px;
    border-radius: 18px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #fc7a1e;
    overflow: hidden;
}

.card-img-left {
    max-height: 50%;
}

.btn {
    background-color: #e7e7e7;
    color: #054A91;
    border-radius: 8px;
    border: 3px solid #054A91;
    margin-left: 25px;
    font-weight: bold;
}

.btn:hover {
    font-weight: bold;
    background-color: #054A91;
    color: #fc7a1e;
    border: 5px solid #f9c784;
}


.carousel-control-prev, .carousel-control-next {
    color: #fc7a1e;
    font-weight: bold;
    font-size: 18px;
    margin: -45px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: #fc7a1e;
    font-size: 30px;
}

footer {
    background-color: white;
}