@import url('https://fonts.googleapis.com/css2?family=Anton&family=Modak&display=swap');
:root{
    --colors-primary: #054A91;
    --colors-secondary: #FC7A1E;
    --colors-secondary-light: #F9C784;
    --colors-light:#E7E7E7;
    --colors-dark: #312F2F;
}
body {
    font-family: "Anton", sans-serif;
    background-color: var(--colors-secondary-light);
}
nav{
    background-color: var(--colors-light);
}
.nav-info{
    color: var(--colors-primary);
    transition: all .3s ease-in-out;
}
.nav-info:hover{
    color: var(--colors-secondary);
    font-family: Modak, serif;
    transform: scale(1.2);
}
.btn {
    background-color: #e7e7e7;
    color: var(--colors-primary);
    border-radius: 8px;
    border: 3px solid var(--colors-primary);
    margin-left: 25px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn:hover {
    font-weight: bold;
    background-color: var(--colors-primary);
    color: var(--colors-secondary-light);
    border: 5px solid var(--colors-secondary);
    transform: scale(1.2);
}
.nav-img{
    width: 75px;
    height: 75px;
    transition: all .3s ease-in-out;
}
.nav-img:hover{
    transform: scale(1.2);
}
/*Need to add media query to this to make it smaller for smaller screens*/
.img-thumbnail{
    width: 450px; /* adjust this to the size you want */
    border-radius: 50%;
    object-fit: cover;
}

.gallery.img {
    /*height: 340px;*/
    width: 520px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto 1/2;
    /*display:grid;*/
    padding: 0;
    margin: 0;
}
/* Styling gallery section where all images are */
.gallery {
    width: 100%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content:center;
    align-items: center;
}

/* Styling Particular Image */
.gallery-img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.2s;
}
/* onHover image will expand little bit */
.gallery-img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}
/* This section will be seen when we click on image */
.image-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* close button when we want to close the bigger image */
.close-button {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size:60px;
    color: white;
    cursor: pointer;
}
.close-button:hover{
    color: red;
}

/* when we click on the image it will expand in bigger size and will displayed
at middle of screen */
.popupImage {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map1 {
    height: 600px;
    width: 100%;
    margin: 50px auto 0;
    border: 5px solid black;
    border-radius: 18px;
}

/* Making images more responsive for smaller size device */
@media (max-width:670px) {
    .gallery{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
    }
    .gallery-img{
        width:150px;
        height: 150px;
    }

    .heading{
        font-size: 20px;
    }

    /*For the map of where the truck is.*/

}