
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("../assets/img/main_icon.PNG");
    background-repeat: no-repeat;
    background-size: 1400px 900px;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    /*background-image: url("../assets/img/main_icon.PNG");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 2500px 1200px;*/
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 15px;
    box-shadow: 0 0 150px 20px rgba(0, 0, 0, 1);
    border: 9px solid #e7e7e7;
    border-radius: 18px;
    padding: 30px;
    margin-bottom: 85px;
    width: 600px;
    height: 550px;
    background-color: #054A91;
    color: #f9c784;
}

h1 {
    text-align: center;
    color: #f9c784;
}

p {
    font-size: 28px;
    text-align: center;
    color: #e7e7e7;
}

p:hover {
    color: #fc7a1e;
}

.btn-signup {
    background-color: #054A91;
    color: #f9c784;
    font-weight: bold;
    font-size: 20px;
    border: 4px solid #e7e7e7;
    border-radius: 18px;
}

.btn-signup:hover {
    color: #fc7a1e;
}