@import url('https://fonts.googleapis.com/css2?family=Anton&family=Modak&display=swap');
:root{
    --colors-primary: #054A91;
    --colors-secondary: #FC7A1E;
    --colors-secondary-light: #F9C784;
    --colors-light:#E7E7E7;
    --colors-dark: #312F2F;
}
body {
    font-family: "Anton", sans-serif;
    background-color: var(--colors-secondary-light);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    background-color: var(--colors-light);
}
.nav-info{
    color: var(--colors-primary);
    transition: all .3s ease-in-out;
}
.nav-info:hover{
    color: var(--colors-secondary);
    font-family: Modak, serif;
    transform: scale(1.2);
}
.btn, button {
    background-color: #e7e7e7;
    color: var(--colors-primary);
    border-radius: 8px;
    border: 3px solid var(--colors-primary);
    margin-left: 25px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn:hover, button:hover {
    font-weight: bold;
    background-color: var(--colors-primary);
    color: var(--colors-secondary-light);
    border: 5px solid var(--colors-secondary);
    transform: scale(1.2);
}
.nav-img{
    width: 75px;
    height: 75px;
    transition: all .3s ease-in-out;
}
.nav-img:hover{
    transform: scale(1.2);
}
/*Need to add media query to this to make it smaller for smaller screens*/
img{
    width:350px;
    height:350px;
    border-radius: 50%;
}

.ad-card {
    padding: 20px;
    border-radius: 18px;
    background-color: var(--colors-light);
    /*box-shadow: 4px 3px 0px var(--colors-primary), 9px 8px 0px rgba(255, 137, 2, 0.65);*/
}
footer {
    margin-top: auto;
}