<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Login, '/css/error.css')}">
<head>
  <meta charset="UTF-8"/>
  <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<th:block th:switch="${error}">
  <div th:case="'Not Found'">
    <h1>Page not found!!</h1>
  </div>
  <div th:case="'Forbidden'">
    <h1>You don't have permission to view this page.</h1>
  </div>
</th:block>
<div class="container justify-content-center">
  <form class="login-form" th:action="@{/login}" method="post">
    <h1>Error</h1>



    <p><a class="nav-link active" aria-current="page" th:href="@{/index}">Return to Home Page</a></p>
  </form>
</div>
<footer th:replace="partials/fragments :: footer"></footer>

</body>
</html>